## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.csproj.user
*.sln.docstates

## IDE
.vs/
.idea/
.pkl-lsp/
*.swp
*~

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
publish/

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/
format-report.json

# Test Coverage
**/TestResults/
coverage.*

## User secrets
secrets.json

## OS
.DS_Store
Thumbs.db
